body { 
  background: #ededed;
  font-family: sans-serif;
  font-weight: 100;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

th.headers {
  font-weight: 100;
  text-align: left;
  padding: 0;
  border: 0;
}

table.change-set, table.drift {
  border-bottom: 1px #bbb solid;
}

tr.compare {
  display: none;
}

tr.change-set td, tr.compare td, tr.diff td, tr.drift td {
  font-size: .8em;
  vertical-align: top;
  padding: 0;
}

tr.diff td.diff-label {
  padding-top: 1em;
}

tr.drift td {
  line-height: 1.5em;
}

td.details {
  padding-top: 4;
  border-top:1pt black dashed;
}

td.details li, td.difference li {
  margin-top: 2px;
  font-size: .8em;
  margin-bottom: 5px; 
  line-height: 1.3em;
  list-style-type: none;
}

span.code {
  font-family: monospace;
  font-size: 1.2em;
  padding-left: 10px;
  
}

span.resource {
  font-family: monospace;
  font-size: 1.3em;
}

li.expected, li.actual {
  padding: 5px;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
}

li.expected {
  border-color: blue;
}

li.actual {
  border-color: red;
}

li.expected pre, li.actual pre {
  margin-bottom: 0;
}

table.change-set tr.change-set td.action, td.action {
  padding-right: 25px;
}

table.change-set tr.change-set td.replacement, td.replacement {
  padding-left: 25px;
}

tr.compare td pre, tr.differences td pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 475px;
  margin-top: 0;
}

tr.differences td pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 900px;
}

.content pre, .expected pre, .actual pre {
  padding: 5px;
 	border-radius: 3px;
 	background-color: #333;
  color: white;
}

.expected {
  color: blue;
}

.actual {
  color: red;
}

text, title {
  fill: black; 
  font-family: sans-serif;
  font-size: 10px;
}

.CREATE_COMPLETE, .DELETE_COMPLETE, .UPDATE_COMPLETE {
  stroke: green
}

.CREATE_IN_PROGRESS, .DELETE_IN_PROGRESS, .UPDATE_IN_PROGRESS {
  stroke: yellow
}

.DELETE_SKIPPED {
  stroke: orange
}

.CREATE_FAILED, .DELETE_FAILED, .UPDATE_FAILED {
  stroke: red
}

g text {
  display: none;
}

g.showtext text {
  display: inline;
  fill: blue;
  text-anchor: middle;
}

